.color{
    color: #04bbf1;
}

.fondo{
    background: linear-gradient(to right,  #7ecf49 15%  , #04bbf1 50% , #1d4370 );
}

.capa{
 
    background-image: linear-gradient(to right,  #7ecf49, #04bbf1, #1d4370);
  
    }