.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease;
    background-color: aquamarine;
  }

  .slide {
    flex: 0 0 100%;
    
  }

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .degradado{
    background-color: #7ecf49; 
  /* Degradado */
  background-image: linear-gradient(to right,  #7ecf49, #04bbf1, #1d4370);
  }

